.list{
	display:flex;
	flex-direction:column;
	position: relative;
}

.unselectable{
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}